body {
	font-family: sans-serif;
	font-size: 1em;
	margin: 0 5%;
	max-width: 1000px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}
#header {
	clear: right;
	height: 1em;
	padding: 1em 1em 2em 0em;
	width: 100%;
	font-size: 2em;
}
table {
	table-layout: fixed;
}
#board {
	float: left;
	margin: 0 4em 2em 0;
	border-color: black;
	border-width: 3px;
}
#board td{
	font-size: 10px;
	color: grey;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 2px;
}
#hand {
	position: relative;	
	margin: 0em 0em 1.2em 0em;
	width: 270px;
	background-color: white;
	border-color: black;
	border-width: 3px;
}
#hand td{
	text-align: center;
	font-size: 20px;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: tan;
}
#hand td.empty-hand {
	background-color: white;
}
#score {
	margin: 1.8em 0 1em 0;
	font-weight: bold;
}
#messages {
	margin: 1em 1em 1.2em 0;
	font-weight: bold;
	font-size: 25px;
}
p.error {
	color: red;
}
#scoreString {
	margin: 0 1em 1em 0;
	font-weight: bold;
}
button {
	margin: 0.2em 0.3em 0.2em 0;
	font-size: 15px;
	border-radius: 5px;
	border: 3px solid black;
}
.empty {
	background-color: white;
}
.TW {
	background-color: #BC8F8F;
}
.DW {
	background-color: #CFAFAF;
}
.TL {
	background-color: #E2CFCF;
}
.DL {
	background-color: #F5EFEF;
}
.start {
	background-color: pink;
}
.text-border {
	padding: 1em;
	border-width: 1px;
	border-style: solid;
	display: inline;
	float: left;
	text-align: right;
}
#board td.placed-letter {
	font-size: 20px;
	background-color: green;
	color: white;
	border-radius: 5px;
}
#board td:hover {
	background-color: orange;	
	color: black;
}
#hand td:hover {
	background-color: orange;	
}
#hand td.selected-letter {
	background-color: red;
}
#board td.selected-letter {
	background-color: red;
	font-size: 20px;
	color: black;
	border-radius: 5px;
}
#board td.played-letter {
	font-size: 20px;
	background-color: tan;
	border-radius: 5px;
	color: black;
}