/*Main*/

body {
	font-family: Arial, sans-serif;
	margin: 0 5%;
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: moz-none;
	      -ms-user-select: none;
	          user-select: none;
	max-width: 1400px;
}

table {
	table-layout: fixed;
}

#header {
	float: left;
	padding: 1em 1em 1em 0;
	width: 100%;
	font-size: 2em;
}

/*Hand/Board classes*/

.empty {
	background-color: white;
}
.TW {
	background: linear-gradient(#FFFF85, #FFFF91, #FFFF85);
}
.DW {
	background: linear-gradient(#FF7878, #FF8080, #FF7878);
}
.TL {
	background: linear-gradient(#8FFF85, #9AFF91, #8FFF85);
}
.DL {
	background: linear-gradient(#5D83FC, #7494FC, #5D83FC);
}
.start {
	background: linear-gradient(#FF4F9E, #FF6BAE, #FF4F9E);
}

/*Board*/

#board {
	float: left;
	margin: 0 4em 2em 0;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
	background: #ff670f;
	background: -webkit-radial-gradient(circle, #FFD485, #ff670f);
}

#board td {
	font-size: 10px;
	color: gray;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 3px solid transparent;
}

#board td.placed-letter {
	background: -webkit-radial-gradient(circle, green, #268F11);
	color: white;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 5px;
}

#board td.placed-letter:not(.selected-letter):hover {
	background: linear-gradient(#FF8C00, #ff670f, #FF8C00);
	color: black;
	font-weight: bold;
}

#board td:not(.empty):not(.selected-letter):not(.played-letter):hover {
	color: black;
	font-weight: bold;
}

#board td.selected-letter {
	background: -webkit-radial-gradient(circle, red, #FF5757);
	color: black;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 5px;
}

#board td.played-letter {
	background: -webkit-radial-gradient(circle, #bda27e, #d2b48c);
	color: black;
	font-weight: normal;
	font-size: 30px;
	border: 1px solid black;
	border-radius: 5px;
}

/*Hand*/

#hand {
	position: relative;	
	margin: 0em 0em 1.2em 0em;
	width: 270px;
	background: white;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.5);
	margin-bottom: 3em;
}

#hand td{
	text-align: center;
	font-size: 30px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: -webkit-radial-gradient(circle, #bda27e, #d2b48c);
}

#hand td.empty-hand {
	background: white;
}

#hand td:not(.empty-hand):not(.selected-letter):hover {
	background: linear-gradient(#FF8C00, #ff670f, #FF8C00);
	color: black;
	font-weight: bold;
}

#hand td.selected-letter {
	background: -webkit-radial-gradient(circle, #FF0000, #FF5757);
}

/*Score & Messages*/

#score {
	margin: 2.5em 0 1em 0;
	font-weight: bold;
	color: black;
	text-shadow: 0 0 0.4em #8F7;
	font-size: 20px;
}

#messages {
	margin: 1em 1em 1.2em 0;
	font-weight: bold;
	font-size: 25px;
}

#scoreString {
	margin: 0 1em 1em 0;
	font-weight: bold;
}

.text-border {
	float: left;
	display: inline;
	text-align: right;
	padding: 1em;
	border: 2px solid black;
	border-radius: 3px;
	background: linear-gradient(to bottom right, #CCFFCF, #B3FFB8);
}

p.error {
	color: red;
}

/*Buttons*/

button {
	display: block;
	margin: 0.5em 0.3em 0.2em 0;
	font-size: 25px;
	border: 1px solid black;
	padding: 5px 10px;

	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

	-webkit-box-shadow: inset -2px -3px 2px rgba(0, 0, 0, 0.3), 1px 2px 1px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: inset -2px -3px 2px rgba(0, 0, 0, 0.3), 1px 2px 1px rgba(0, 0, 0, 0.25);
            box-shadow: inset -2px -3px 2px rgba(0, 0, 0, 0.3), 1px 2px 1px rgba(0, 0, 0, 0.25);

	background: #E3E3E3;
	background: linear-gradient(to bottom, #E3E3E3, #CCCCCC);
	background: -webkit-gradient(linear,top,bottom,from(#E3E3E3),to(#CCCCCC));
	background: -webkit-linear-gradient(to bottom, #E3E3E3, #CCCCCC);
	background:   -moz-linear-gradient(to bottom, #E3E3E3, #CCCCCC);
	background:     -o-linear-gradient(to bottom, #E3E3E3, #CCCCCC);
}

button:hover {
	background: #E3E3E3;
	background: -webkit-gradient(linear,left top,left bottom,from(#CCCCCC),to(#ADADAD));
	background: -webkit-linear-gradient(to bottom, #CCCCCC, #ADADAD);
	background:   -moz-linear-gradient(to bottom, #CCCCCC, #ADADAD);
	background:     -o-linear-gradient(to bottom, #CCCCCC, #ADADAD);
	background:        linear-gradient(to bottom, #CCCCCC, #ADADAD);
	border: 1px solid #B5B5B5;
}

button:active {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	border: none;
	outline: none;
}

#submitWord {
	background: #00A300;
	background: -webkit-gradient(linear,left top,left bottom,from(#00C700),to(#00A300));
	background: -webkit-linear-gradient(to bottom, #00C700, #00A300);
	background:   -moz-linear-gradient(to bottom, #00C700, #00A300);
	background:     -o-linear-gradient(to bottom, #00C700, #00A300);
	background:        linear-gradient(to bottom, #00C700, #00A300);
	color: white;
}

#submitWord:hover {
	background: #E3E3E3;
	background: -webkit-gradient(linear,left top,left bottom,from(#007D00),to(#007D00));
	background: -webkit-linear-gradient(to bottom, #007D00, #007D00);
	background:   -moz-linear-gradient(to bottom, #007D00, #007D00);
	background:     -o-linear-gradient(to bottom, #007D00, #007D00);
	background:        linear-gradient(to bottom, #007D00, #007D00);
}